.flex_container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

@media (max-width: 900px) {
    .flex_container {
        width: 100%;
    }
}

.description ul{
    margin-top: 10px;
    margin-left: 40px;
}